{% extends 'base.html' %}

{% block title %}
    Teams App - Teams Create Team Project View
{% endblock title %}

{% block content %}
  <h1>Create Project for {{ team.name }}</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Create Team Project</button>
  </form>
{% endblock %}
