{% extends 'base.html' %}

{% block title %}
    Teams App - Teams Create View
{% endblock title %}


{% block content %}
  <h1>Create Team Project</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create</button>
  </form>
{% endblock content %}
