{% extends "base.html" %}


{% block title %}
    Teams App - Teams Detail View
{% endblock title %}

{% block content %}
  <h1>{{ team.name }}</h1>
  <h2>Members:</h2>
  <p>
    <a href="{% url 'teams:create_team_member' team.id %}">Add Member</a>
    <a href="{% url 'teams:create_team_project' team.id %}">Create Team Project</a>
  </p>
  <ul>
    {% for member in team.members.all %}
      <li>{{ member.username }}</li>
    {% endfor %}
  </ul>
  <h2>Projects:</h2>
  <ul>
    {% for project in team.projects.all %}
      <li>{{ project.name }}</li>
      <p>{{ project.description }}</p>
      <p>Members:</p>
      <ul>
        {% for member in project.members.all %}
          <li>{{ member.username }}</li>
        {% endfor %}
      </ul>
    {% endfor %}
  </ul>
{% endblock content %}
