{% extends 'base.html' %}

{% block title %}
    Teams App - Teams List View
{% endblock title %}

{% block content %}
  <h1>My Teams</h1>
  <ul>
    {% for team in teams %}
      <li><a href="{% url "teams:show_my_team" team_id=team.id %}">{{ team.name }}</a></li>
    {% endfor %}
  </ul>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit"><a href="{% url "teams:create_team" %}">Create Team</button>
  </form>
{% endblock %}
